﻿@using DemoStimulsoft.Models
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding-top:20px;">
    <h2>Product by Category Listing</h2>

    <div id="accordion">
        @foreach (ProductCategory pc in Model)
        {
            <div class="card" style="margin-bottom: 5px;">
                <div class="card-header" id="@string.Format("heading{0}", pc.Category.CategoryId)">
                    <h5 class="mb-0">
                        <button class="btn btn-link btn-lg"
                                data-toggle="collapse"
                                data-target="@string.Format("#collapse{0}", pc.Category.CategoryId)"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            @pc.Category.Name
                        </button>
                        <span class="badge badge-primary badge-pill">
                            @string.Format("{0} item{1}", pc.Products.Count(),  pc.Products.Count() > 1 ? "s" : string.Empty)
                        </span>
                    </h5>
                </div>

                <div id="@string.Format("collapse{0}", pc.Category.CategoryId)"
                     class="collapse @string.Format("{0}", pc.Category.CategoryId == 1 ? "show": string.Empty)" aria-labelledby="@string.Format("heading{0}", pc.Category.CategoryId)" 
                     data-parent="#accordion">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity/Unit</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Units In Stock</th>
                                </tr>
                            </thead>
                            @foreach (Product product in pc.Products)
                            {
                                <tr>
                                    <td><a href="#">@product.Name</a></td>

                                    <td>@product.QuantityPerUnit</td>

                                    <td>$@product.UnitPrice</td>

                                    <td>@product.UnitsInStock</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>


        }

    </div>

</div>


